# 전복 나이 예측

## Import

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('data/abalone.csv')

In [4]:
df=pd.read_csv('data/abalone.csv',
              names=['sex', 'tall', 'radius', 'height', 'weg1', 'weg2', 'weg3', 'weg4', 'ring_cnt'])
df

     sex   tall  radius  height    weg1    weg2    weg3    weg4  ring_cnt
0      M  0.455   0.365   0.095  0.5140  0.2245  0.1010  0.1500        15
1      M  0.350   0.265   0.090  0.2255  0.0995  0.0485  0.0700         7
2      F  0.530   0.420   0.135  0.6770  0.2565  0.1415  0.2100         9
3      M  0.440   0.365   0.125  0.5160  0.2155  0.1140  0.1550        10
4      I  0.330   0.255   0.080  0.2050  0.0895  0.0395  0.0550         7
...   ..    ...     ...     ...     ...     ...     ...     ...       ...
4172   F  0.565   0.450   0.165  0.8870  0.3700  0.2390  0.2490        11
4173   M  0.590   0.440   0.135  0.9660  0.4390  0.2145  0.2605        10
4174   M  0.600   0.475   0.205  1.1760  0.5255  0.2875  0.3080         9
4175   F  0.625   0.485   0.150  1.0945  0.5310  0.2610  0.2960        10
4176   M  0.710   0.555   0.195  1.9485  0.9455  0.3765  0.4950        12

[4177 rows x 9 columns]

In [5]:
df.describe()

,tall,radius,height,weg1,weg2,weg3,weg4,ring_cnt
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [6]:
target_data = df[["ring_cnt"]]
input_data = df.drop("ring_cnt", axis=1)

In [7]:
input_data

     sex   tall  radius  height    weg1    weg2    weg3    weg4
0      M  0.455   0.365   0.095  0.5140  0.2245  0.1010  0.1500
1      M  0.350   0.265   0.090  0.2255  0.0995  0.0485  0.0700
2      F  0.530   0.420   0.135  0.6770  0.2565  0.1415  0.2100
3      M  0.440   0.365   0.125  0.5160  0.2155  0.1140  0.1550
4      I  0.330   0.255   0.080  0.2050  0.0895  0.0395  0.0550
...   ..    ...     ...     ...     ...     ...     ...     ...
4172   F  0.565   0.450   0.165  0.8870  0.3700  0.2390  0.2490
4173   M  0.590   0.440   0.135  0.9660  0.4390  0.2145  0.2605
4174   M  0.600   0.475   0.205  1.1760  0.5255  0.2875  0.3080
4175   F  0.625   0.485   0.150  1.0945  0.5310  0.2610  0.2960
4176   M  0.710   0.555   0.195  1.9485  0.9455  0.3765  0.4950

[4177 rows x 8 columns]

## 상관관계

In [8]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
plt.figure(figsize=(20, 15)) #사이즈 정하기
sns.heatmap(df.corr(), annot=True, fmt='.2f',square=True)
plt.show()

# 시각화

In [ ]:
sns.catplot(data=df, x='tall', y='weg1', aspect=2)

## 원핫인코딩
### 성별은 범주형 변수이므로, 수치값으로 변환

In [ ]:
from sklearn.preprocessing import OneHotEncoder
data_cat = input_data[["sex"]]
onehot_encoder = OneHotEncoder()
data_cat_onehot = onehot_encoder.fit_transform(data_cat)
print(onehot_encoder.categories)

In [ ]:
input_data = input_data.drop("sex", axis=1)

In [ ]:
data = np.c_[data_cat_onehot.toarray(), input_data, target_data] # 두 개의 1차원 배열을 칼럼으로 세로로 붙여서 2차원 배열 만들기

In [ ]:
data

In [ ]:
data = pd.DataFrame(data, columns=['sex_F', 'sex_I', 'sex_M', 'sex_''tall', 'radius', 'height', 'weg1', 'weg2', 'weg3', 'weg4', 'ring_cnt'])

In [ ]:
data

# Linear Regression

In [ ]:
target_data = data[["ring_cnt"]]
input_data = data.drop("ring_cnt", axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_data, target_data)

In [ ]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x_train, y_train)

In [ ]:
print('training set accuracy: ', model1.score(x_train, y_train))

In [ ]:
prediction = model1.predict(x_test)
prediction

In [ ]:
y_test

# Decision Tree Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model2 = DecisionTreeRegressor()
model2.fit(x_train, y_train)

print('training set accuracy: ', model2.score(x_train, y_train)) # 과적합

In [ ]:
prediction = model2.predict(x_test)
prediction

In [ ]:
y_test

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model3 = RandomForestRegressor()
model3.fit(x_train, y_train)

print('training set accuracy: ', model3.score(x_train, y_train))

In [ ]:
from sklearn.svm import SVR
model4 = SVR() # 초기화
model4.fit(x_train, y_train)
print('training set accuracy: ', model4.score(x_train, y_train))

In [ ]:
from sklearn.metrics import mean_squared_error
some_predicted = model4.predict(x_test)
mse = np.sqrt(mean_squared_error(y_test, some_predicted)) # 실제 y값, 예측 y값
print('평균제곱근오차', mse)

# cross-validation

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
kfold = KFold(n_splits=10, shuffle=True)
score = cross_val_score(model4, input_data, target_data.values.ravel(), cv=kfold, scoring='neg_mean_squared_error')
score = np.sqrt(-score)
print(score)
print(score.mean())

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
d = KFold(n_splits=10, shuffle=True)
score = cross_val_score(model1, input_data, target_data.values.ravel(), cv=kfold, scoring='neg_mean_squared_error')
score = np.sqrt(-score)
print(score)
print(score.mean())

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
kfold = KFold(n_splits=10, shuffle=True)
score = cross_val_score(model2, input_data, target_data.values.ravel(), cv=kfold, scoring='neg_mean_squared_error')
score = np.sqrt(-score)
print(score)
print(score.mean())

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
kfold = KFold(n_splits=10, shuffle=True)
score = cross_val_score(model3, input_data, target_data.values.ravel(), cv=kfold, scoring='neg_mean_squared_error')
score = np.sqrt(-score)
print(score)
print(score.mean())

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
kfold = KFold(n_splits=10, shuffle=True)
score = cross_val_score(model4, input_data, target_data.values.ravel(), cv=kfold, scoring='neg_mean_squared_error')
score = np.sqrt(-score)
print(score)
print(score.mean())

##### 이때 난 model1,2,3,4이런식으로 했기에 저기서 바꿀때도 D_model, R_model 이런식이 아니라 저걸로 해야됨